__pycache__/Data_Manager.cpython-313.pyc
__pycache__/SerialConfig.cpython-313.pyc
data/data_20260904_010533.csv
data/data_20260904_010904.csv
data/data_20260904_010910.csv
data/data_20260904_011037.csv
gui/__pycache__/main_window.cpython-313.pyc
ui/__pycache__/main_window_ui.cpython-313.pyc
